/**
 * General wizard styles.
 */
.path-mod-concordance .concordance-wizard {
    width: 100%;
    margin: 1em auto 1em auto;
    font-size: 80%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 10px;
}

/**
 * Basic style for each phase.
 */
.path-mod-concordance .concordance-wizard dl {
    width: 33%;
    float: left;
    margin: 0;
}

.path-mod-concordance .concordance-wizard dt {
    vertical-align: bottom;
    white-space: normal;
    border-bottom: 1px solid #ddd;
    padding: 3px;
    color: #fff;
    background-color: #006bb6;
}

.path-mod-concordance .concordance-wizard dt span {
    width: 100%;
    height: 38px;
    text-align: center;
}

.path-mod-concordance .concordance-wizard dt > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.path-mod-concordance .concordance-wizard dt .actions a i {
    font-size: 1.3rem;
    color: #fff;
}

.path-mod-concordance .concordance-wizard dd {
    vertical-align: top;
    margin: 0;
    min-height: 180px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.path-mod-concordance .concordance-wizard dd,
.path-mod-concordance .concordance-wizard dd a,
.path-mod-concordance .concordance-wizardconcordance-wizard dd a:link,
.path-mod-concordance .concordance-wizard dd a:hover,
.path-mod-concordance .concordance-wizard dd a:visited,
.path-mod-concordance .concordance-wizard dd a:active {
    color: #999;
}

/**
 * Styles for the active phase.
 */
.path-mod-concordance .concordance-wizard dl.active dt {

    background-color: #5aaa09;
    color:#fff;
}

.path-mod-concordance .concordance-wizard dl.active dd {
    background-color: #fff;
}

.path-mod-concordance .concordance-wizard dl.active dd,
.path-mod-concordance .concordance-wizard dl.active dd a,
.path-mod-concordance .concordance-wizard dl.active dd a:link,
.path-mod-concordance .concordance-wizard dl.active dd a:hover,
.path-mod-concordance .concordance-wizard dl.active dd a:visited,
.path-mod-concordance .concordance-wizard dl.active dd a:active {
    color: black;
}

/**
 * Styles for tasks.
 */
.path-mod-concordance .concordance-wizard dd ul.tasks li {
    background-position: top right;
    background-image: url([[pix:mod_workshop|userplan/task-todo]]);
    background-position: top left;
    background-repeat: no-repeat;
    list-style-type: none;
    min-height: 16px;
    margin: .3em 0;
}

.path-mod-concordance .concordance-wizard dd ul.tasks li div {
    padding: 0 10px 0 20px;
}

.path-mod-concordance .concordance-wizard dd ul.tasks li.done {
    background-image: url([[pix:mod_workshop|userplan/task-done]]);
}

.path-mod-concordance .concordance-wizard dd ul.tasks li.fail {
    background-image: url([[pix:mod_workshop|userplan/task-fail]]);
}

.path-mod-concordance .concordance-wizard dd ul.tasks li.info {
    background-image: url([[pix:mod_workshop|userplan/task-info]]);
}

.path-mod-concordance .concordance-wizard dl dd .switchtonextphase {
    padding: 0 20px;
    text-align: center;
}
.path-mod-concordance .concordance-wizard dl dd .switchtonextphase a.btn {
    color: #fff;
    font-size: 100%;
    padding-left: 8%;
    padding-right: 8%;
}

/**
 * Particularities for big screens.
 */
@media only screen and (min-width: 768px) {
    .path-mod-concordance .concordance-wizard dl.active {
        margin-top: -5px;
        padding: 0 0 10px;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .path-mod-concordance .concordance-wizard dl.active dd {
        border: none;
    }

    .path-mod-concordance .concordance-wizard dt > div {
        line-height: 38px;
    }
}

/**
 * Particularities for medium screens.
 */
@media only screen and (max-width: 768px) {
    .path-mod-concordance .concordance-wizard {
        border-right: none;
        border-top: none;
    }

    .path-mod-concordance .concordance-wizard dl {
        width: 100%;
        border-right: none;
        background-color: #006bb6;
    }

    .path-mod-concordance .concordance-wizard dt {
        float: left;
        width: 30%;
        border-bottom: none;
        border-top: 1px solid #ddd;
        box-sizing: border-box;
    }

    .path-mod-concordance .concordance-wizard dl.active {
        background-color: #5aaa09;
    }

    .path-mod-concordance .concordance-wizard dt.active {
        border: none;
    }

    .path-mod-concordance .concordance-wizard dd {
        float: left;
        width: 70%;
        box-sizing: border-box;
    }
}

/**
 * Particularities for small screens.
 */
@media only screen and (max-width: 420px) {
    .path-mod-concordance .concordance-wizard {
        border-bottom: none;
    }

    .path-mod-concordance .concordance-wizard dt {
        float: left;
        width: 100%;
        border-bottom: none;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        margin: 0;
        padding: 5px;
    }

    .path-mod-concordance .concordance-wizard dd {
        float: left;
        width: 100%;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}

.path-mod-concordance table.managepanelists td.actions .singlebutton {
    display: inline-block;
}
.path-mod-concordance .concordance-wizard ul.tasks li.info {
    margin-left: 1rem;
}

.path-mod-concordance #fgroup_id_paneliststoinclude label.form-check.fitem {
    clear: none;
    justify-content: flex-start;
    width: 100%;
}
.path-mod-concordance #fgroup_id_paneliststoinclude .form-inline.col-md-9 {
    width: 100%;
    float: left;
    max-width: none;
    clear: left;
}
.path-mod-concordance #fgroup_id_paneliststoinclude .col-md-3 {
    width: auto;
    max-width: none;
}
.path-mod-concordance #fgroup_id_paneliststoinclude {
    float: left;
    display: inline-block;
    line-height: 1;
    width: 100%;
}