{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_concordance/accesspanelistquiz

    Panelist quiz access page template.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * body HTML content for the boday
    * footer HTML content for the footer

    Example context (json):
    {
        "body": "Some example content for the body",
        "footer": "Footer text, right here!"
    }
}}

<div class="modal moodle-has-zindex show" data-region="modal-container" aria-hidden="false" role="dialog">
    <div class="modal-dialog"
        data-region="modal"
        aria-labelledby="{{uniqid}}-modal-title"
        role="document" tabindex="0">
        <div class="modal-content">
            <div class="modal-body" data-region="body">
                {{$body}}
                    {{{body}}}
                {{/body}}
            </div>
            <div class="modal-footer" data-region="footer">
                {{$footer}}
                    {{{footer}}}
                {{/footer}}
            </div>
        </div>
    </div>
</div>
