{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Manage panelists template.

    Context variables required for this template:
    * panelists
        * firstname
        * lastname
        * email
        * editbutton
        * deletebutton
    * addbutton - button for adding panelists
}}
<div data-region="managepanelists">
<div class="pull-left">
    {{{addbutton}}}
</div>
<table class="generaltable fullwidth managepanelists">
    <caption>{{#str}}panelistslist, mod_concordance{{/str}}</caption>
    <thead>
        <tr>
            <th scope="col">{{#str}}firstname{{/str}}</th>
            <th scope="col">{{#str}}lastname{{/str}}</th>
            <th scope="col">{{#str}}email{{/str}}</th>
            <th scope="col">{{#str}}actions{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#panelists}}
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{email}}</td>
            <td class="actions">{{{editbutton}}} {{{deletebutton}}}</td>
        </tr>
        {{/panelists}}
    </tbody>
</table>
{{^panelists}}
<p class="alert alert-info">
    {{#str}}nopanelists, mod_concordance{{/str}}
</p>
{{/panelists}}
</div>
